.grid{
   /* margin-top: 50px; */
   width: 100% !important;
   margin-bottom: 150px;
   margin-left: 50px;
   /* border: 2px red solid; */
   /* position: relative; */
}

.empty{
   width: 100%;
}
.position{
    background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.6px);
        -webkit-backdrop-filter: blur(7.6px);
        position: fixed !important;
        z-index: 999;
        top: -100%;
        left: 0;
        width: 100vw;
        height: 100vh;
}
.overlay{
      background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.6px);
        -webkit-backdrop-filter: blur(7.6px);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
}

.convex{
   /* border: 3px red solid; */
position: absolute;
bottom: -230px;
left: 0;
width: 270px;
padding: 8px;
z-index: 9999 !important;
background-color: #202124 !important;
box-shadow: 0.2em 0.2em calc(0.2em * 2) rgb(0,0,0, 0.4), calc(0.2em * -1) calc(0.2em * -1) calc(0.2em * 2) rgb(0,0,0, 0.4) !important;
}

.pickLocation{
   /* border: 3px red solid; */
position: absolute;
bottom: -160px;
left: 0;
width: 270px;
padding: 8px;
z-index: 999;
background-color: #202124 !important;
    box-shadow: 0.2em 0.2em calc(0.2em * 2) rgb(0,0,0, 0.4), calc(0.2em * -1) calc(0.2em * -1) calc(0.2em * 2) rgb(0,0,0, 0.4) !important;
}
#shadow{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   background: #202124;
}

#options{
   /* border: 3px red solid; */
position: absolute;
bottom: -250px;
right: 0;
width: 220px;
/* padding: 8px; */
z-index: 9999999;
background-color: #202124 !important;
    box-shadow: 0.2em 0.2em calc(0.2em * 2) rgb(0,0,0, 0.4), calc(0.2em * -1) calc(0.2em * -1) calc(0.2em * 2) rgb(0,0,0, 0.4) !important;
}