.container{
    display: grid;
    grid-template-columns: 350px auto;
    overflow: auto; 
    min-height: 95vh;
    /* border: 2px green solid; */
}
.container ::-webkit-scrollbar{
    width: 0 !important;
}

@media (max-width: 850px ) {
    .container{
        grid-template-columns: 60px auto;
    }
}