.container{
    display: grid;
    grid-template-columns: 350px auto;
    /* overflow: hidden;  */
    /* height: 100vh; */
    /* padding-bottom: 100px; */
    /* border: 2px green solid; */
}
/* .container ::-webkit-scrollbar{
    width: 0 !important;
} */

.notesContain{
    position: relative;
    min-height: 100vh;
    height: 100vh;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    margin-top: 130px;
    padding-bottom: 200px;
    /* border: 2px red solid; */
}

@media (max-width: 850px ) {
    .container{
        grid-template-columns: 60px auto;
    }
}